{% extends "layout.html" %}
{% block content %}
<br/>
<form method="POST" action="">
  {{ form.csrf_token }}
  <!-- Allow guests to register by creating a username, entering thier email, creating a password
  and then confirming the password -->
  <p id="first_name_new">{{ form.username.label }} {{ form.username }}</p>
  <p id="email_new">{{ form.email.label }} {{ form.email }}</p>
  <p id="password_new">{{ form.password.label }} {{ form.password }}</p>
  <p id="password_confirm">{{ form.password2.label }} {{ form.password2 }}</p>
  <input type="submit" value="Register">
</form>
<!-- Display error messages if user input is invalid in any of the fields -->
{% for error in form.username.errors %}
  <span style="color: red;">[{{ error }}]</span>
{% endfor %}
{% for error in form.email.errors %}
  <span style="color: red;">[{{ error }}]</span>
{% endfor %}
{% for error in form.password.errors %}
  <span style="color: red;">[{{ error }}]</span>
{% endfor %}


{% endblock content %}